*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Inter;
}

body{
    background: #000;
}
.container{
    width: 100%;
    display: flex;
    background: #000000; 
}

/* .contact, nav{
    border: 2px solid #fff;
} */

/* .contact, nav, .header{
    border: 2px solid #fff;
} */
 

/* contact */

.contact{
    width: 85%;
}

.header{
    position: relative;
    position: fixed;
    width: 100%;
    /* border: 2px solid #fff; */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.h1{
    font-size: 100px;
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 0.2);
   
}

.h2{
    position: absolute;
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: -280px;
    margin-left: -80px;
}

/* cards */
.cards{
    margin-top: 200px;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card{
    width: 400px;
    height:500px;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* nav */
nav{
    width: 15%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    list-style: none;
    width: 100%;
}

nav ul li{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 60px;
    height: 60px;
    margin-top: 40px;
}

nav ul li a{
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    overflow: hidden;
    font-size: 20px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 0 17px;
    width: 100%;
    height: 100%;
    transition: width 0.3s ease;
}

nav ul li a:hover{
    overflow: visible;
    width:fit-content;
}

i{
    font-size: 28px;
}