.price{
    margin-top: 50px;
    align-items: center;
    color: blue;
    margin-left: 5px;
    font-size: larger;
   
}

.move{
   
   
   
    margin-left: 200px;
}
.h1{
    font-size: x-large;
    color: purple
}

.text{
    background-color:black;
}